.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    background: #faeffa;

    &__title{
        margin-bottom: 60px;
        color: #6956E5;
        font-size: clamp(24px, 3vw, 32px);
        font-weight: 600;
    }

    &__info{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    &__info-item{
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
        h4{
            font-size: 18px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            color: #afa3ff;
        }
    }

}