/*=======Обнуляющие стили========*/
*,
*:before,
*:after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}

*::selection {
background-color: rgba(255, 191, 185, 0.8);
color: #fff; 
}

html,
body {
height: 100%;
width: 100%;
font-family: sans-serif;
scroll-behavior: smooth;
}
body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus,
:active {
outline: none;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
}
button {
    border: none;
    cursor: pointer;
}

li {
list-style: none;
}

input:focus::placeholder {
color: transparent;
transition: all 0.2s ease;
}
.wrapper {
position: relative;
min-height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
main {
flex: 1 1 auto;
width: 100%;
min-height: 110vh;
padding: 30px;
background-color: #F5F6FA;
@media(max-width: 992px){
    padding: 10px;
}
}
.fixed-page {
overflow: clip;
}
section {
overflow-x: clip;
width: 100%;
}
header,footer{
overflow-x: clip;
width: 100%;
}

::-webkit-scrollbar {
    width: 0;
  }

#root{
    height: 100%;
}

.page-main{
    display: grid;
    grid-template-columns: 15% 85%;
    @media(max-width: 991px){
        grid-template-columns: 100%;
    }
}
.section-title{
    color: #a698ff;
    font-size: clamp(26px, 3vw, 32px);
    font-weight: 600;
    margin-bottom: 50px;
}